autopep8==1.5.7
click==8.0.1
coloredlogs==15.0
dockerfile==3.1.0
dockerfile-parse==1.1.0
docxtpl==0.11.5
et-xmlfile==1.1.0
humanfriendly==9.1
Jinja2==3.0.1
lxml==4.6.3
MarkupSafe==2.0.1
mistune==0.8.4
mpmath==1.2.1
openpyxl==3.0.7
Pillow==8.2.0
py==1.4.22
pycodestyle==2.7.0
pydantic==1.8.2
pypandoc==1.5
pytest==2.6.0
python-docx==0.8.10
PyYAML==5.4.1
six==1.16.0
sympy==1.8
toml==0.10.2
typing-extensions==3.10.0.0
verboselogs==1.7
